<%inherit file="base.html" />
<%def name="online_help_token()"><% return "files" %></%def>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%block name="title">${_("Files &amp; Uploads")}</%block>
<%block name="bodyclass">is-signedin course uploads view-uploads</%block>

<%namespace name='static' file='static_content.html'/>

<%block name="header_extras">
% for template_name in ["asset-library", "asset"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="js/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="requirejs">
    require(["js/factories/asset_index"], function (AssetIndexFactory) {
        AssetIndexFactory({
          assetCallbackUrl: "${asset_callback_url}",
          uploadChunkSizeInMBs: ${chunk_size_in_mbs},
          maxFileSizeInMBs: ${max_file_size_in_mbs},
          maxFileSizeRedirectUrl: "${max_file_size_redirect_url}"
        });
    });
</%block>

<%block name="content">

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    -->
    <!-- production -->
    <!-- <script type="text/javascript" src="js/plupload.full.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/plupload/2.1.2/plupload.full.min.js"></script>
    <!--
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/black-tie/jquery-ui.css"/>
    -->
    <script type="text/javascript">
        /*!
         * bootstrap-progressbar v0.8.2 by @minddust
         * Copyright (c) 2012-2014 Stephan Gro횩
         *
         * http://www.minddust.com/project/bootstrap-progressbar/
         *
         * Licensed under the MIT license:
         * http://www.opensource.org/licenses/MIT
         */
        (function (c) {
            var b = function (e, d) {
                this.$element = c(e);
                this.options = c.extend({}, b.defaults, d)
            };
            b.defaults = {
                transition_delay: 300,
                refresh_speed: 50,
                display_text: "none",
                use_percentage: true,
                percent_format: function (d) {
                    return d + "%"
                },
                amount_format: function (e, d, f) {
                    return e + " / " + d
                },
                update: c.noop,
                done: c.noop,
                fail: c.noop
            };
            b.prototype.transition = function () {
                var i = this.$element;
                var h = i.parent();
                var p = this.$back_text;
                var l = this.$front_text;
                var q = this.options;
                var j = parseInt(i.attr("data-transitiongoal"));
                var m = parseInt(i.attr("aria-valuemin")) || 0;
                var d = parseInt(i.attr("aria-valuemax")) || 100;
                var o = h.hasClass("vertical");
                var g = q.update && typeof q.update === "function" ? q.update : b.defaults.update;
                var f = q.done && typeof q.done === "function" ? q.done : b.defaults.done;
                var e = q.fail && typeof q.fail === "function" ? q.fail : b.defaults.fail;
                if (isNaN(j)) {
                    e("data-transitiongoal not set");
                    return
                }
                var n = Math.round(100 * (j - m) / (d - m));
                if (q.display_text === "center" && !p && !l) {
                    this.$back_text = p = c("<span>").addClass("progressbar-back-text").prependTo(h);
                    this.$front_text = l = c("<span>").addClass("progressbar-front-text").prependTo(i);
                    var k;
                    if (o) {
                        k = h.css("height");
                        p.css({height: k, "line-height": k});
                        l.css({height: k, "line-height": k});
                        c(window).resize(function () {
                            k = h.css("height");
                            p.css({height: k, "line-height": k});
                            l.css({height: k, "line-height": k})
                        })
                    } else {
                        k = h.css("width");
                        l.css({width: k});
                        c(window).resize(function () {
                            k = h.css("width");
                            l.css({width: k})
                        })
                    }
                }
                setTimeout(function () {
                    var v;
                    var t;
                    var r;
                    var u;
                    var w;
                    if (o) {
                        i.css("height", n + "%")
                    } else {
                        i.css("width", n + "%")
                    }
                    var s = setInterval(function () {
                        if (o) {
                            r = i.height();
                            u = h.height()
                        } else {
                            r = i.width();
                            u = h.width()
                        }
                        v = Math.round(100 * r / u);
                        t = Math.round(m + r / u * (d - m));
                        if (v >= n) {
                            v = n;
                            t = j;
                            f(i);
                            clearInterval(s)
                        }
                        if (q.display_text !== "none") {
                            w = q.use_percentage ? q.percent_format(v) : q.amount_format(t, d, m);
                            if (q.display_text === "fill") {
                                i.text(w)
                            } else {
                                if (q.display_text === "center") {
                                    p.text(w);
                                    l.text(w)
                                }
                            }
                        }
                        i.attr("aria-valuenow", t);
                        g(v, i)
                    }, q.refresh_speed)
                }, q.transition_delay)
            };
            var a = c.fn.progressbar;
            c.fn.progressbar = function (d) {
                return this.each(function () {
                    var g = c(this);
                    var f = g.data("bs.progressbar");
                    var e = typeof d === "object" && d;
                    if (!f) {
                        g.data("bs.progressbar", (f = new b(this, e)))
                    }
                    f.transition()
                })
            };
            c.fn.progressbar.Constructor = b;
            c.fn.progressbar.noConflict = function () {
                c.fn.progressbar = a;
                return this
            }
        })(window.jQuery);</script>

    <script type="text/javascript">
        (function ($, window, undefined) {
            //is onprogress supported by browser?
            var hasOnProgress = ("onprogress" in $.ajaxSettings.xhr());

            //If not supported, do nothing
            if (!hasOnProgress) {
                return;
            }

            //patch ajax settings to call a progress callback
            var oldXHR = $.ajaxSettings.xhr;
            $.ajaxSettings.xhr = function () {
                var xhr = oldXHR();
                if (xhr instanceof window.XMLHttpRequest) {
                    xhr.addEventListener('progress', this.progress, false);
                }

                if (xhr.upload) {
                    xhr.upload.addEventListener('progress', this.progress, false);
                }

                return xhr;
            };
        })(jQuery, window);
    </script>

<div class="wrapper-mast wrapper">
    <header class="mast has-actions has-subtitle">
        <h1 class="page-header">
            <small class="subtitle">${_("Content")}</small>
            <span class="sr">&gt; </span>${_("Files &amp; Uploads")}
        </h1>

        <nav class="nav-actions" aria-label="${_('Page Actions')}">
            <h3 class="sr">${_("Page Actions")}</h3>
            <ul>
                <li class="nav-item">
                    <a href="#" class="button upload-button new-button"><i class="icon fa fa-plus"></i> ${_("Upload New File")}</a>
                </li>
            </ul>
        </nav>
    </header>
</div>

<div class="wrapper-content wrapper">
    <section class="content">
        <article class="content-primary" role="main">
            <div class="wrapper-assets" />
            <div class="ui-loading">
                <p><span class="spin"><i class="icon fa fa-refresh"></i></span> <span class="copy">${_("Loading")}</span></p>
            </div>
        </article>

        <aside class="content-supplementary" role="complementary">
            <div class="bit">
                <h3 class="title-3">${_("Adding Files for Your Course")}</h3>

                <p>${_("To add files to use in your course, click {em_start}Upload New File{em_end}. Then follow the prompts to upload a file from your computer.").format(em_start='<strong>', em_end="</strong>")}</p>

                <p>${_("{em_start}Caution{em_end}: {platform_name} recommends that you limit the file size to {em_start}10 MB{em_end}. In addition, do not upload video or audio files. You should use a third party service to host multimedia files.").format(em_start='<strong>', em_end="</strong>", platform_name=settings.PLATFORM_NAME)}</p>

            	<p>${_("The course image, textbook chapters, and files that appear on your Course Handouts sidebar also appear in this list.")}</p>
            </div>
            <div class="bit">
                <h3 class="title-3">${_("Using File URLs")}</h3>

                <p>${_("Use the {em_start}{studio_name} URL{em_end} value to link to the file or image from a component, a course update, or a course handout.").format(studio_name=settings.STUDIO_SHORT_NAME, em_start="<strong>", em_end="</strong>")}</p>

                <p>${_("Use the {em_start}Web URL{em_end} value to reference the file or image only from outside of your course. {em_start}Note:{em_end} If you lock a file, the Web URL no longer works for external access to a file.").format(em_start='<strong>', em_end="</strong>")}</p>

                <p>${_("To copy a URL, double click the value in the URL column, then copy the selected text.")}</p>
            </div>
            <div class="bit external-help">
                <a href="${get_online_help_info(online_help_token())['doc_url']}" target="_blank" class="button external-help-button">${_("Learn more about managing files")}</a>
            </div>

        </aside>
    </section>
</div>

<div class="upload-modal modal">
    <a href="#" class="close-button"><i class="icon fa fa-times-circle"></i> <span class="sr">${_('close')}</span></a>
    <div class="modal-body">
        <h1 class="title">${_("Upload New File")}</h1>
        <h2>${_("Max per-file size: {max_filesize}MB").format(max_filesize=max_file_size_in_mbs)}</h2>

        <div class="container">
            <div class="input-group">
                <input type="hidden" class="form-control" disabled="disabled" id="zfp-thumbnail-selected" value="" />

                    <a href="#" id="zfp-thumbnail-selector" >파일선택</a>
            </div>
            <div id="zfp-thumbnail-progress" class="progress" style="margin-top:10px;">
                <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <div id="zfp-mov-progress" class="progress" style="margin-top:10px;">
                <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="100"></div>
            </div>
            <div id="uploadProgress"></div>
            <div class="embeddable" id="movie-info">
                <label>URL:</label>
                <input type="text" class="embeddable-xml-input" value=''>
            </div>

        </div>

    </div>
</div>


<script type="text/javascript">
    if ($("#zfp-thumbnail-selector").length > 0) {
        var thumbnail = new plupload.Uploader({
            browse_button: 'zfp-thumbnail-selector',
            //runtimes: 'flash,html4,html5,silverlight',
            runtimes: 'html5,browserplus,silverlight,flash,gears,html4',
            //chunk_size : '64kb',
            chunk_size: '1mb',
            // MME General settings
            url: "http://mme2.npcomms.kr/upload",
            file_data_name: "uploadFile",
            max_file_count: 1,
            max_retries: 3,
            filters: {
                max_file_size: '0',
                mime_types: [
                    {title: "Image files", extensions: "mov,mp4,avi,mpeg,wmv,mkv"}
                ]
            },
            flash_swf_url: 'js/Moxie.swf',
            silverlight_xap_url: 'js/Moxie.xap',
            init: {
                PostInit: function () {
                    console.log('PostInit');
                },

                FilesAdded: function (up, files) {
                    $("#zfp-thumbnail-progress").show();
                    $("#zfp-thumbnail-progress .progress-bar").attr('data-transitiongoal', 0).progressbar({
                        display_text: 'center',
                        use_percentage: true,
                    });
                    plupload.each(files, function (file) {
                        $("#zfp-thumbnail-selected").val(file.name);
                    });
                    thumbnail.start();

                    console.log('FilesAdded:', files);
                },

                UploadProgress: function (up, file) {
                    $("#zfp-thumbnail-progress .progress-bar").attr('data-transitiongoal', file.percent).progressbar();
                    $("#uploadProgress").text("uploading:"+file.percent+"%");
                },

                Error: function (up, err) {
                    $("#zfp-thumbnail-progress").hide();
                    console.log('Error:', err);
                },

                StateChanged: function (up) {
                    console.log('StateChanged:', up);
                },

                FileUploaded: function (up, file, info) {

                    if (info.status === 200) {
                        var result = $.parseJSON(info.response);


                        //영상 엔코딩 요청 상태 체크
                        $.ajax({
                            url: 'http://mme2.npcomms.kr/mov_extract',
                            dataType: 'json',
                            data: 'uuid=' + result.data.up_path + '&is_re=y',
                            type: 'get',
                            success: function (res) {
                                $("#zfp-thumbnail-progress").hide();
                                $("#zfp-mov-progress").show();
                                $("#zfp-mov-progress .progress-bar").attr('data-transitiongoal', 0).progressbar({
                                    display_text: 'center',
                                    use_percentage: true,
                                });


                                if (res.status == 200) {
                                    var movie_status = 'http://mme2.npcomms.kr' + res.data.movie_status;
                                    var thumb_div_status = 'http://mme2.npcomms.kr' + res.data.thumb_div_status;
                                    var thumb_status = 'http://mme2.npcomms.kr' + res.data.thumb_status;

                                    console.log(movie_status, thumb_div_status, thumb_status);


                                    //$("#mov_url").text('http://mme2.npcomms.kr' + res.data.mov_url);
                                    $(".embeddable-xml-input").val('http://mme2.npcomms.kr' + res.data.mov_url);

                                    mov_st(movie_status);
                                    //getThumb('구간썸네일', thumb_div_status);
                                    getThumb('대표섬네일', thumb_status);
                                } else if (res.status == 700) {
                                    console.log('중복엔코딩 요청입니다.');
                                } else {
                                    alert('엔코딩 요청이 완료되지 않았습니다.');
                                }

                                //var extract_result = $.parseJSON(res);
                            },
                            error: function (e) {
                                console.log(e);
                            },
                            complete: function () {
                                //영상 상태체크

                                //썸네일 체크

                                //구간썸네일 체크

                            }
                        });

                    } else {
                        up.refresh();
                    }

                    console.log('FileUploaded:', file, info);

                    $("#zfp-thumbnail-progress").hide();
                }
            }
        });

        //Pluploade Init
        thumbnail.init();
    };

    var mov_st = function (url) {
        sleep(1000);
        $.ajax({
            method: 'GET',
            url: url,
            dataType: 'jsonp',
            async: false,
            success: function (res) {
                if (res.message !== 'SUCCESS') {
                    $("#zfp-mov-progress .progress-bar").attr('data-transitiongoal', parseInt(res.data.data.percent)).progressbar();
                    sleep(300);

                    mov_st(url);
                    $("#uploadProgress").text("encoding:"+res.data.data.percent+"%");
                    console.log(res.data.data.percent);

                }
                else {
                    console.warn('Encoding Finish');
                    $("#uploadProgress").text("encoding:100%");
                    $("#zfp-mov-progress .progress-bar").attr('data-transitiongoal', 100).progressbar();
                    $("#movie-info").show(); //영상정보 호출 -> 플레이어 연동
                }
            },
            error: function () {
            }
        });
    };

    var getThumb = function (text, url) {
        var path = '';
        $.ajax({
            method: 'GET',
            url: url,
            dataType: 'jsonp',
            success: function (res) {
                if (res.message !== 'SUCCESS') {
                    sleep(300);
                    getThumb(text, url);

                } else {
                    console.log("res:", res);

                    $.each(res.data.thumb, function (index, value) {
                        path = value.path.replace('/data/convert/mme', 'http://mme2.npcomms.kr/doc')
                        console.log("path:",path);
                        //$('.container').append('<div class="row"><div class="col-md-12"><label>' + text + ': ' + index + '<br><img src="' + path + '"></label></div></div>');
                    });
                }

            },
            error: function () {
            }
        });
    };

    var sleep = function (delay) {
        var start = new Date().getTime();
        while (new Date().getTime() < start + delay);
    };
</script>

</%block>

<%block name="view_alerts">
<!-- alert: save confirmed with close -->
<div class="wrapper wrapper-alert wrapper-alert-confirmation" role="status">
    <div class="alert confirmation">
        <i class="icon fa fa-check"></i>

        <div class="copy">
            <h2 class="title title-3">${_('Your file has been deleted.')}</h2>
        </div>

        <a href="" rel="view" class="action action-alert-close">
            <i class="icon fa fa-times-circle"></i>
            <span class="label">${_('close alert')}</span>
        </a>
    </div>
</div>
</%block>