<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="header_extras">
</%block>

<%block name="js_extra">
</%block>

<%block name="pagetitle">개인정보취급방침</%block>
<%
  platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  if self.stanford_theme_enabled():
    course_index_overlay_text = _("Explore free courses from {university_name}.").format(university_name="Stanford University")
    logo_file = static.url('themes/stanford/images/seal.png')
    logo_alt_text = "Stanford Seal Logo"

  else:
    course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore courses from {platform_name}.").format(platform_name=platform_name))

    if settings.FEATURES.get('IS_EDX_DOMAIN', False):
      # For some reason, `static.url('images/edx-theme/edx-logo-bw.png')` breaks template rendering.
      default_image_url = settings.STATIC_URL + 'images/edx-theme/edx-logo-bw.png'
    else:
      default_image_url = settings.STATIC_URL + 'images/default-theme/logo-large.png'

    logo_file = microsite.get_value(
      'course_index_overlay_logo_file', default_image_url
    )

    logo_alt_text = _("{platform_name} Logo").format(platform_name=platform_name)
%>

<section class="container rule">
			<h2>개인정보취급방침</h2>

			<dl>
				<dt>충남대학교  CNU-MOOC 개인 정보 보호</dt>
				<dd>여기는 충남대학교  CNU-MOOC  웹사이트입니다. 충남대학교 CNU-MOOC 의 이용에 대해 감사 드리며, CNU-MOOC 에서의 개인 정보 보호 방침에 대하여 설명을 드리겠습니다. 이는 현행 [공공기관의 개인 정보 보호에 관한 법률] 및 [공공 기관의 개인 정보 보호를 위한 기본 지침]에 근거를 두고 있습니다.<br/>
                    충남대학교 대전/충남권역 대학이러닝지원센터에서 운영하고 있는 웹사이트는 다음과 같으며, 이 방침은 별도의 설명이 없는 한 충남대학교 대전/충남권역 대학이러닝지원센터에서 운용하는 모든 웹사이트에 적용됨을 알려드립니다.
				</dd>

                <dt>자동으로 수집ㆍ저장되는 개인 정보</dt>
				<dd>여러분이 충남대학교  CNU-MOOC 홈페이지를 이용할 경우 다음의 정보는 자동적으로 수집ㆍ저장됩니다.
					<ul>
						<li>&bull; 이용자 여러분의 인터넷 서버 도메인과 충남대학교  CNU-MOOC를 방문할 때 거친 웹사이트의 주소</li>
						<li>&bull; 이용자의 브라우저 종류 및 OS</li>
						<li>&bull; 방문 일시 등</li>
					</ul>
                    <br/>
                    위와 같이 자동 수집ㆍ저장되는 정보는 이용자 여러분에게 보다 나은 서비스를 제공하려고 홈페이지 개선과 보완에 이용될 것입니다. 다만, 법령의 규정에 따라 이러한 정보를 제출하게 되어 있을 경우도 있다는 것을 유념하시기 바랍니다.
				</dd>

                <dt>이메일 및 웹 서식 등을 통한 수집 정보</dt>
				<dd>이용자 여러분은 우편, 전화 또는 온라인 전자 서식 등을 통한 전자적 방법을 통해 의사를 표시할 수 있습니다. 이러한 방법의 선택에 있어 몇 가지 유의 사항을 알려드립니다.
					<ul>
						<li>&bull; 여러분이 홈페이지에 기재한 사항은 다른 사람들이 조회 또는 열람할 수도 있습니다.</li>
						<li>&bull; 여러분이 기재한 사항은 관련 법규에 근거하여 필요한 다른 사람과 공유될 수 있으며, 관련법령의 시행과 정책 개발의 자료로도 사용될 수 있습니다.</li>
						<li>&bull; 또한, 이러한 정보는 타 부처와 공유되거나, 필요에 의하여 제공될 수도 있습니다.<br/>안전한 홈페이지 관리를 위하여 보안에 노력을 하고 있으나, 만약의 침해 사고 시 문제가 될 수 있는 민감한 정보의 기재는 피하여 주시기 바랍니다.</li>
					</ul>
				</dd>

                <dt>웹사이트에서 운영하는 보안 조치</dt>
				<dd>충남대학교  CNU-MOOC를 안전하고 지속적으로 서비스하고자 네트워크 유통량의 통제(Monitor)는 물론 불법적으로 접속, 정보를 변경하는 등의 시도를 방지하는 여러 가지 프로그램을 운영하고 있습니다.</dd>

                <dt>링크 사이트ㆍ웹 페이지</dt>
				<dd>충남대학교 대전/충남권역 대학이러닝지원센터가 운영하는 여러 웹페이지에 포함된 링크 또는 배너를 클릭하여 다른 사이트 또는 웹페이지로 옮겨갈 경우 개인 정보 보호 방침은 그 사이트 운영 기관이 게시한 방침이 적용됨으로 새로 방문한 사이트의 방침을 확인하시기 바랍니다.</dd>

                <dt>웹사이트 이용 중 다른 사람의 개인 정보 취득</dt>
				<dd>충남대학교 대전/충남권역 대학이러닝지원센터가 운영하는 웹사이트에서 이메일 주소 등 식별할 수 있는 개인 정보를 취득하여서는 아니 됩니다. 詐僞 기타 부정한 방법으로 이러한 개인 정보를 열람 또는 제공받은 자는 [공공 기관의 개인 정보 보호에 관한 법률] 제23조의 규정에 의하여 처벌을 받을 수 있습니다.</dd>

                <dt>개인 정보 침해 사항의 신고</dt>
				<dd>충남대학교 대전/충남권역 대학이러닝지원센터의 웹사이트 이용 중 개인 정보의 유출 가능성 등 정보 주체의 권익이 침해될 우려가 있는 사실을 발견하였을 경우는 다음의 연락처로 알려주시기 바랍니다.
					<ul>
						<li>&bull; 문의 사항/연락처
							<ul>
								<li>- 전화 번호 : 042-821-6068</li>
							</ul>
						</li>
					</ul>
				</dd>

                <!--
                <dt></dt>
				<dd>
					<ul>
						<li>&bull;
							<ul>
								<li>- </li>
								<li>- </li>
							</ul>
						</li>
						<li>&bull; </li>
						<li>&bull; </li>
					</ul>
				</dd>
				-->
            </dl>

</section>

