<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="header_extras">
</%block>

<%block name="js_extra">
</%block>

<%block name="pagetitle">개인정보처리방침 | K-MOOC</%block>
<%
  platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  if self.stanford_theme_enabled():
    course_index_overlay_text = _("Explore free courses from {university_name}.").format(university_name="Stanford University")
    logo_file = static.url('themes/stanford/images/seal.png')
    logo_alt_text = "Stanford Seal Logo"

  else:
    course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore courses from {platform_name}.").format(platform_name=platform_name))

    if settings.FEATURES.get('IS_EDX_DOMAIN', False):
      # For some reason, `static.url('images/edx-theme/edx-logo-bw.png')` breaks template rendering.
      default_image_url = settings.STATIC_URL + 'images/edx-theme/edx-logo-bw.png'
    else:
      default_image_url = settings.STATIC_URL + 'images/default-theme/logo-large.png'

    logo_file = microsite.get_value(
      'course_index_overlay_logo_file', default_image_url
    )

    logo_alt_text = _("{platform_name} Logo").format(platform_name=platform_name)
%>



<section class="container rule">

			<h2>K-MOOC 개인정보처리방침</h2>

            <p>
                K-MOOC 홈페이지(http://www.kmooc.kr, 이하 ‘당 홈페이지’라 한다)는 교육부 출연기관인 국가평생교육진흥원(이하 ‘진흥원’이라 한다)에서 운영하고 있는 시스템으로 모든 개인정보는 관련 법령에 근거하여 수집ㆍ보유 및 처리되고 있습니다.<br><br>
                「개인정보 보호법」 은 이러한 개인정보의 취급에 대한 일반적인 규범을 제시하고 있으며, 당 홈페이지에서는 이러한 법령의 규정에 따라 수집ㆍ보유 및 처리하는 개인정보를 공공업무의 적절한 수행과 이용자의 권익을 보호하기 위해 적법하고 적정하게 취급할 것입니다.<br><br>
                또한, 당 홈페이지는 관련 법령에서 규정한 바에 따라 보유하고 있는 개인정보에 대한 열람, 정정, 삭제, 처리정지 요구 등 개인정보를 처리 시 이용자의 권익을 존중하며, 이용자는 이러한 법령상 권익의 침해 등에 대하여 행정심판법에서 정하는 바에 따라 행정심판을 청구할 수 있습니다.<br><br>
                당 홈페이지는 「개인정보 보호법」에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있으며, 개인정보 처리방침을 개정하는 경우 당 홈페이지 공지사항(또는 개별공지)을 통하여 공지할 것입니다. <br><br>
                개인정보처리방침을 개정하는 경우 당 홈페이지 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br><br>
                ○ 본 방침은 「개인정보 보호법」 제30조(개인정보 처리방침의 수립 및 공개)에 의거 수립 후 당 홈페이지를 통하여 공개됩니다.<br><br></p>

            <dd><ol><li>
                <table summary="개인정보처리방침 항목">
                    <caption>
                        개인정보처리방침 항목
                    </caption>
                    <colgroup>
                        <col width="50%"/>
                        <col width="50%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="#no1">제1조(개인정보의 처리 목적)</a><br/>
                                <a href="#no2">제2조(개인정보의 처리 보유 기간)</a><br/>
                                <a href="#no3">제3조(개인정보의 제3자 제공)</a><br/>
                                <a href="#no4">제4조(개인정보처리의 위탁)</a><br/>
                                <a href="#no5">제5조(정보주체의 권리∙의무 및 행사방법)</a><br/>
                                <a href="#no6">제6조(개인정보 수집 항목)</a><br/>
                            </td>
                            <td>
                                <a href="#no7">제7조(개인정보를 자동으로 수집하는 장치의 설치․운영 및 그 거부에 관한 사항)</a><br/>
                                <a href="#no8">제8조(개인정보 파기)</a><br/>
                                <a href="#no9">제9조(개인정보의 안전성 확보 조치)</a><br/>
                                <a href="#no10">제10조(개인정보 보호책임자)</a><br/>
                                <a href="#no11">제11조(개인정보 열람청구)</a><br/>
                                <a href="#no12">제12조(권익침해 구제방법)</a><br/>
                                <a href="#no13">제13조(개인정보 처리방침의 변경)</a><br/>
                            </td>
                        </tr>
                    </tbody>
                    </table>
            </li></ol></dd>

			<dl>
				<dt id="no1">제1조 (개인정보의 처리 목적)</dt>
				<dd>
                    <p>① 당 홈페이지는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 「개인정보 보호법」 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.</p>
                    <ol>
                        <li>1. 홈페이지 회원 가입 및 관리<br>
                            회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 확인, 회원자격 유지ㆍ관리, 서비스 부정이용 방지, 만 14세 미만 아동의 개인정보 수집 시 법정대리인의 동의 여부 확인, 분쟁 조정을 위한 기록 보존, 각종 고지ㆍ통지 등을 목적으로 개인정보를 처리합니다.
                        </li>
                        <li>2. 민원사무 처리<br>
                            민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락ㆍ통지, 처리결과 통보, 서비스 개선 및 제공 등의 목적으로 개인정보를 처리합니다.

                            <p>② 당 홈페이지가 「개인정보 보호법」 제32조에 따라 등록ㆍ공개하는 개인정보파일의 처리목적은 다음과 같습니다.</p>
                            <table summary="개인정보 파일의 처리">
                                <caption>
                                    개인정보 파일의 처리
                                </caption>
                                <colgroup>
                                    <col width="20%"/>
                                    <col width="13%"/>
                                    <col width="16%"/>
                                    <col width="auto"/>
                                    <col width="12%"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">파일명</th>
                                        <th scope="col">운영 근거</th>
                                        <th scope="col">처리 목적</th>
                                        <th scope="col">개인정보 항목</th>
                                        <th scope="col">보유 기간</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="textC">K-MOOC 홈페이지 회원정보</td>
                                        <td class="textC">정보주체 동의</td>
                                        <td class="textC">홈페이지 회원가입 및 관리, 민원사무 처리</td>
                                        <td class="tl">
                                            - 필수항목 : 이메일, 실명, 아이디, 비밀번호, 국가, 성별, 출생연도<br/>
                                            - 선택항목 : 거주지, 최종학력, 가입목적
                                        </td>
                                        <td class="textC">회원 탈퇴시 까지</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ol>
				</dd>

                ※ 좀 더 상세한 개인정보파일 등록사항 공개는 행정자치부 개인정보보호 종합지원포털(www.privacy.go.kr) → 개인정보 민원 → 개인정보 열람 등 요구 → 개인정보파일 목록 검색 메뉴를 활용해 주시기 바랍니다.

                <dt id="no2">제2조 (개인정보의 처리 보유 기간)</dt>
				<dd>
                    <ol>
                        <li>① 당 홈페이지는 법령에 따른 개인정보 보유ㆍ이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받는 개인정보 보유ㆍ이용기간 내에서 개인정보를 처리ㆍ보유합니다.</li>
                        <li>② 각각의 개인정보 처리 및 보유 기간은 본 방침 제1조 ②항을 참조바랍니다. 다만, 관계 법령 위반에 따른 수사ㆍ조사 등이 진행 중인 경우에는 해당 수사ㆍ조사 종료 시까지, 홈페이지 이용에 따른 채권ㆍ채무관계 잔존 시에는 해당 채권ㆍ채무관계 정산 시까지 개인정보를 처리ㆍ보유합니다.</li>
                    </ol>
				</dd>

                <dt id="no3">제3조 (개인정보의 제3자 제공)</dt>
				<dd>당 홈페이지는 원칙적으로 이용자의 개인정보를 제1조(개인정보의 처리 목적)에서 명시한 범위 내에서 처리하며, 이용자의 사전 동의 없이는 본래의 범위를 초과하여 처리하거나 제3자에게 제공하지 않습니다. 단, 정보주체의 동의, 법률의 특별한 규정 등 「개인정보 보호법」 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.
				</dd>

                <dt id="no4">제4조 (개인정보처리의 위탁)</dt>
				<dd>
                    <ol>
                        <li>① 당 홈페이지는 법령에 따른 개인정보 보유ㆍ이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받는 개인정보 보유ㆍ이용기간 내에서 개인정보를 처리ㆍ보유합니다.<br/>
                            <a href="/static/data/Consignment of Personal Information Processing.pdf" target="_blank">[ 개인정보 처리업무 위탁 현황 보기 ]</a>

                        </li>
                        <li>② 당 홈페이지는 위탁계약 체결 시 「개인정보 보호법」제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적ㆍ관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리ㆍ감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</li>
                        <li>③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</li>
                    </ol>
				</dd>

                <dt id="no5">제5조 (정보주체의 권리ㆍ의무 및 행사방법)</dt>
				<dd>
					<ol>
						<li>① 정보주체는 당 홈페이지에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
							<ul>
								<li>1. 개인정보 열람 요구<br/>
                                    당 홈페이지의 개인정보파일은 「개인정보 보호법」제35조에 따라 열람을 요구할 수 있습니다. 단, 동법 제35조 제4항에 의하여 다음 사항에 해당될 경우 열람을 제한할 수 있습니다.
									<ul>
										<li>&bull; 법률에 따라 열람이 금지되거나 제한되는 경우</li>
										<li>&bull; 다른 사람의 생명ㆍ신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우</li>
										<li>&bull; 공공기관이 다음 각 목의 어느 하나에 해당하는 업무를 수행할 때 중대한 지장을 초래하는 경우
											<ul>
												<li>- 조세의 부과 징수 또는 환급에 관한 업무</li>
                                                <li>- - (초ㆍ중등교육법) 및 (고등교육법)에 따른 각 급 학교, (평생교육법)에 따른 평생교육시설, 그 밖의 다른 법률에 따라 설치된 고등교육기관에서의 성적 평가 또는 입학자 선발에 관한 업무</li>
                                                <li>- 학력기능 및 채용에 관한 시험, 자격시험에 관한 업무</li>
                                                <li>- 보상금ㆍ급부금 산정 등에 대하여 진행 중인 평가 또는 판단에 관한 업무</li>
                                                <li>- 다른 법률에 따라 진행 중인 감사 및 조사에 관한 업무</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>2. 개인정보 정정 삭제 요구<br/>
                                    당 홈페이지의 개인정보파일은 「개인정보 보호법」제36조에 따라 정정ㆍ삭제를 요구할 수 있습니다. 다만, 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 삭제를 요구할 수 없습니다.
                                </li>
								<li>3. 개인정보 처리정지 요구<br/>
                                    당 홈페이지의 개인정보파일은 「개인정보 보호법」제37조에 따라 처리정지를 요구할 수 있습니다. 다만, 개인정보 처리정지 요구 시 법 제37조 제2항에 의하여 처리정지 요구를 거절할 수 있습니다. </li>
							</ul>
						</li>
						<li>② 제1항에 따른 권리 행사는 당 홈페이지에 대해 「개인정보 보호법」시행규칙 별지 제8호 서식에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 당 홈페이지는 이에 대해 지체 없이 조치하겠습니다.</li>
						<li>③ 정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 진흥원은 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.</li>
						<li>④ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 「개인정보 보호법」시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.</li>
					</ol>
				</dd>

                <dt id="no6">제6조 (개인정보 수집 항목)</dt>
				<dd>당 홈페이지에서 처리하고 있는 개인정보 항목은 본 방침 제1조 ②항을 참조바랍니다. 인터넷 서비스 이용과정에서 아래의 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다.
                    <ol>
                        <li>&bull; IP주소, 쿠키, 서비스 이용기록, 방문기록 등</li>
                    </ol>
				</dd>

                <dt id="no7">제7조 (개인정보를 자동으로 수집하는 장치의 설치·운영 및 그 거부에 관한 사항)</dt>
				<dd>
                    <p>① 당 홈페이지에서는 쿠키(cookie)를 설치/운용할 경우도 있습니다. 쿠키란 웹 서버가 웹 브라우저에 보내어 저장했다가 서버의 부가적인 요청이 있을 때 다시 서버로 보내주는 문자열 정보를 말합니다. 진흥원에서는 쿠키를 통해 수집하는 정보는 팝업정보에 한하며, 그 외의 다른 정보는 수집하지 않습니다.</p>
                    <p>② 정보주체께서는 웹브라우저의 보안 정책을 통해 쿠키에 의한 정보수집의 허용ㆍ거부 여부를 결정하실 수 있습니다. 웹브라우저의 [도구]메뉴에서 [인터넷옵션]→[보안]→[사용자 정의 수준]을 선택하여 쿠키에 의한 정보 수집 수준을 정할 수 있습니다. 단, 쿠키 설치를 거부하였을 경우 서비스 이용에 불편이 있거나, 서비스 제공에 어려움이 있을 수 있습니다.</p>
				</dd>

                <dt id="no8">제8조 (개인정보 파기)</dt>
				<dd>
                    <ol>
                        <li>① 당 홈페이지는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다.</li>
                        <li>② 정보주체로부터 동의 받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보(또는 개인정보파일)를 별도의 데이터베이스(DB)로 옮기거나 보관 장소를 달리하여 보존합니다.</li>
                        <li>③ 개인정보 파기의 절차 및 방법은 다음과 같습니다.
                            <ul>
                                <li>1. 파기절차<br/>
                                    <ul>
                                        <li>- 진흥원은 파기하여야 하는 개인정보(또는 개인정보파일)에 대해 개인정보 파기계획을 수립하여 파기합니다. </li>
                                        <li>- 진흥원은 파기사유가 발생한 개인정보(또는 개인정보파일)를 선정하고, 진흥원의 개인정보 보호책임자의 승인을 받아 개인정보(또는 개인정보파일)를 파기합니다. </li>
                                    </ul>
                                </li>
                                <li>2. 파기방법<br/>
                                    <ul>
                                        <li>진흥원은 전자적 파일 형태로 기록ㆍ저장된 개인정보는 기록을 재생할 수 없도록 파기하며, 종이 문서에 기록ㆍ저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
					</ol>
				</dd>

                <dt id="no9">제9조 (개인정보의 안전성 확보 조치)</dt>
				<dd>
                    <p>당 홈페이지는 「개인정보 보호법」제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.</p>
                    <ol>
                        <li>① 관리적 조치 : 내부관리계획 수립ㆍ시행, 정기적 직원 교육 등</li>
                        <li>② 기술적 조치 : 개인정보처리시스템 등의 접근권한 관리, 접근통제시스템 설치, 고유식별정보 등의 암호화, 보안프로그램 설치</li>
                        <li>③ 물리적 조치 : 전산장비실, 자료보관실 등의 접근통제</li>
					</ol>
				</dd>

                <dt id="no10">제10조 (개인정보 보호책임자) </dt>
				<dd>
                    <p>① 당 홈페이지는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.</p>
                    <ol>
                        <li>1. 홈페이지 회원 가입 및 관리<br>
                        <table summary="개인정보 파일의 처리">
                            <caption>
                                개인정보 파일의 처리
                            </caption>
                            <colgroup>
                                <col width="*"/>
                                <col width="24%"/>
                                <col width="24%"/>
                                <col width="24%"/>
                            </colgroup>
                            <tr>
                                <th scope="col" rowspan="2" class="gray">개인정보 보호책임자</th>
                                <th scope="col" class="gray">성명</th>
                                <th scope="col" class="gray">직책</th>
                                <th scope="col" class="gray">연락처</th>
                            </tr>
                            <tr>
                                <td class="textC">이원근</td>
                                <td class="textC">K-MOOC진흥본부 본부장</td>
                                <td class="textC">2wongun@nile.or.kr</td>
                            </tr>

                            <tr>
                                <th scope="col" rowspan="3" class="gray">개인정보 보호책임자</th>
                                <th scope="col" class="gray">부서명</th>
                                <th scope="col" class="gray">담당자</th>
                                <th scope="col" class="gray">연락처</th>
                            </tr>

                            <tr>
                                <td class="textC">K-MOOC진흥본부 구축운영실</td>
                                <td class="textC">최재완</td>
                                <td class="textC">topology75@nile.or.kr</td>
                            </tr>

                            <tr>
                                <td class="textC">K-MOOC진흥본부 구축운영실</td>
                                <td class="textC">유민선</td>
                                <td class="textC">msyoo@nile.or.kr<br/>02-3780-9996</td>
                                </tr>
                        </table>
                        </li>
                    </ol>
                    <p>② 정보주체께서는 당 홈페이지의 서비스(또는 사업)를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다.</p>
				</dd>

                <dt id="no11">제11조 (개인정보 열람청구)</dt>
				<dd>
                    <p>① 정보주체는 「개인정보 보호법」 제35조에 따른 개인정보의 열람 청구는 '개인정보 보호 담당부서'에서 할 수 있습니다. 당 홈페이지에서는 정보주체의 개인정보 열람청구가 신속하게 처리되도록 노력하겠습니다.</p>
                    <p>② 정보주체께서는 제1항의 열람청구 접수ㆍ처리부서 이외에, 행정자치부의 ‘개인정보보호 종합지원포털’ 웹사이트(www.privacy.go.kr)를 통하여서도 개인정보 열람청구를 하실 수 있습니다.
                        <ol>
                            <li>▶ 행정자치부 개인정보보호 종합지원포털 → 개인정보 민원 → 개인정보 열람 등 요구(아이핀을 통한 실명인증 필요)</li>
                        </ol>
                    </p>
				</dd>

                <dt id="no12">제12조 (권익침해 구제방법)</dt>
				<dd>
                    <p>정보주체는 아래의 기관에 대해 개인정보 침해에 대한 피해구제, 상담 등을 문의하실 수 있습니다.</p>
                    <p>&lt;아래의 기관은 진흥원과는 별개의 기관으로서, 당 홈페이지의 자체적인 개인정보 불만처리, 피해구제 결과에 만족하지 못하시거나 보다 자세한 도움이 필요하시면 문의하여 주시기 바랍니다.&gt;
                        <ol>
                            <li>▶ 개인정보 침해신고센터 (한국인터넷진흥원 운영)
                                <ul>
                                    <li>- 소관업무 : 개인정보 침해사실 신고, 상담 신청</li>
                                    <li>- 홈페이지 : privacy.kisa.or.kr</li>
                                    <li>- 전화 : (국번없이) 118</li>
                                    <li>- 주소 : (138-950) 서울시 송파구 중대로 135 한국인터넷진흥원 개인정보침해신고센터</li>
                                </ul>
                            </li>
                            <li>▶ 개인정보 분쟁조정위원회 (한국인터넷진흥원 운영)
                                <ul>
                                    <li>- 소관업무 : 개인정보 분쟁조정신청, 집단분쟁조정 (민사적 해결)</li>
                                    <li>- 홈페이지 : privacy.kisa.or.kr</li>
                                    <li>- 전화 : (국번없이) 118</li>
                                    <li>- 주소 : (138-950) 서울시 송파구 중대로 135 한국인터넷진흥원 개인정보침해신고센터</li>
                                </ul>
                            </li>
                            <li>▶ 대검찰청 사이버범죄수사단 : 02-3480-3571 (www.spo.go.kr, cybercid@spo.go.kr)</li>
                            <li>▶ 경찰청 사이버테러대응센터 : 1566-0112 (www.netan.go.kr) 또한, 개인정보의 열람, 정정ㆍ삭제, 처리정지 등에 대한 정보주체자의 요구에 대하여 공공기관의 장이 행한 처분 또는 부작위로 인하여 권리 또는 이익을 침해 받은 자는 행정심판법이 정하는바에 따라 행정심판을 청구할 수 있습니다.</li>
                        </ol>
                        <br/>
                        <a href="www.simpan.go.kr" target="_blank">☞ 중앙행정심판위원회(www.simpan.go.kr)의 전화번호 안내 참조</a>
                    </p>
				</dd>

				<dt id="no13">제13조 (개인정보 처리방침의 변경)</dt>
				<dd>1. 본 방침은 2016년 11월 28일부터 시행됩니다.</dd>
				<dd>2.이전의 개인정보 처리방침은 아래에서 확인하실 수 있습니다.
                    <br/> <a href="/Privacy-Policy_old1">- 2015. 10. 14. ~ 2016. 6. 20. 적용</a>
                    <br/> <a href="/Privacy-Policy_old2">- 2016. 6. 21. ~ 2016. 11. 27. 적용</a>
                </dd>

			</dl>

</section>

