<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="header_extras">
  % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
  % for template_name in ["result_item", "filter_bar", "filter", "search_facets_list", "search_facets_section", "search_facet", "more_less_links"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <script type="text/javascript">;(function (define) {{
      define('course_discovery_meanings', function() {{
          'use strict';
          return ${json.dumps(course_discovery_meanings)};
        }});
      }})(define || RequireJS.define);
  </script>
  % endif
</%block>

<%block name="js_extra">
  % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
  <%static:js group='discovery'/>
  % endif
</%block>

<%block name="pagetitle">한양대학교</%block>
<%
  platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  if self.stanford_theme_enabled():
    course_index_overlay_text = _("Explore free courses from {university_name}.").format(university_name="Stanford University")
    logo_file = static.url('themes/stanford/images/seal.png')
    logo_alt_text = "Stanford Seal Logo"

  else:
    course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore courses from {platform_name}.").format(platform_name=platform_name))

    if settings.FEATURES.get('IS_EDX_DOMAIN', False):
      # For some reason, `static.url('images/edx-theme/edx-logo-bw.png')` breaks template rendering.
      default_image_url = settings.STATIC_URL + 'images/edx-theme/edx-logo-bw.png'
    else:
      default_image_url = settings.STATIC_URL + 'images/default-theme/logo-large.png'

    logo_file = microsite.get_value(
      'course_index_overlay_logo_file', default_image_url
    )

    logo_alt_text = _("{platform_name} Logo").format(platform_name=platform_name)
%>

<section class="home">

<!-- home S -->
			<header class="type1">
				<img src="/static/images/univ_intro/univ_intro/univ_top_hanyang.png" alt="최고의 대학, 최고의 강의! 한국형 온라인에서 시작하세요.">
			</header>
			<section class="school_info">	 <!-- school_info S -->
				<div class="inner">
					<p class="title_type2"><span>한양대학교</span><img src="/static/images/univ_intro/univ_intro/univ_logo_hanyang.png" alt="한양대학교"></p>
					<p>한양대학교는 우리나라 최초의 공과대학으로서 1939년 개교이래 대한민국 발전에 큰 원동력이 되어왔다.</p>
                    <p>‘Engine of Korea’라는 슬로건을 내세운 한양대학교는 교육연구중심 대학으로 3개의 캠퍼스를 가지고 있다.</p>
                    <p>메인 캠퍼스는 서울에, 두번째 캠퍼스는 안산에, 그리고 세 번째 캠퍼스는 사이버 대학이다.</p>
                    <p>'사랑의 실천'이 건학이념인 한양대학교는 국내외 리더로 활동하고 있는 280,000명의 졸업생을 배출해 오고 있다. </p>
				</div>
			</section>	 <!-- school_info E -->

  <section class="courses-container">

    % if course_discovery_enabled:
    <div id="discovery-form" role="search" aria-label="course">
      <form>
        <input class="discovery-input" placeholder="${_('Search for a course')}" type="text"/><!-- removes spacing
        --><button type="submit" class="button postfix discovery-submit" aria-label="${_('Search')}">
          <i class="icon fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
      <div id="discovery-message"></div>
      <div aria-live="polite" aria-relevant="all">
        <div id="loading-indicator" class="hidden">
          <i class="icon fa fa-spinner fa-spin"></i> ${_('Loading')}
        </div>
      </div>
    </div>

    <div id="filter-bar" class="filters hide-phone">
    </div>
    % endif

    <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
      <ul class="courses-listing">
        %for course in courses:
        <li class="courses-listing-item">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
    </section>


    % if course_discovery_enabled:
    <aside aria-label="${_('Refine your search')}" class="search-facets phone-menu">
    </aside>
    % endif

  </section>
</section>
