<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="header_extras">
</%block>

<%block name="js_extra">
    <script>
        $(document).ready(function(){
            $("#check").attr("href", "javascript:password_check();");
        });

        function password_check(){
            var passwd = $("#password").val();
            if(passwd == "" || passwd == null){
                alert("비밀번호를 입력하세요.");
                $("#password").focus();
                return;
            }

            $.post("/account/settings_confirm_check",
                    {password: passwd},
                    function(data){
                        console.log("data = " + data);
                        if(data == "succ"){
                            document.location.href = "/account/settings";
                        }else if(data == "fail"){
                            alert("비밀번호가 맞지 않습니다.");
                        }else{
                            alert("접근경로가 비정상적 입니다.\n메인페이지로 이동합니다.");
                            document.location.href = "/";
                        }
            },"text");
        }

    </script>
</%block>

<%block name="pagetitle">본인확인</%block>
<section class="container rule">

    <h2>본인확인</h2>

    <dl>
        <dt>본인확인<br><br></dt>
        <dd>
            <ol>
                <li><img style="width:12px" src="/static/images/correct-icon.png">&nbsp;<b>본인확인</b></li>
                    <ol>
                        <li style="margin-left: 16px;">{{ request.session.passwdCheck }}</li>
                        <li style="margin-left: 16px;">12345<br><br></li>
                    </ol>

            </ol>
        </dd>

        <dd>본인확인<br>
            본인확인
        </dd>

        <dt><input type="text" id="password" /></dt>
        <br>
        <a href="#" id="check"><input type="button" id="button" value="본인확인"/></a>
    </dl>
</section>