<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">
    %if initial_mode == 'login':
        로그인
    %else:
        회원가입
    %endif
</%block>

<%block name="js_extra">
    <script>
        if(sessionStorage.getItem("reg_gubn") == "N" && sessionStorage.getItem("step") == "2")
            document.history.back();

        function ipinCheck(){
            if(confirm("ipin check done ?")){
                document.location.href = "/register";
            }
        }
    </script>
</%block>

<%block name="header_extras"></%block>

<div class="section-bkg-wrapper">
    <div id="login-and-registration-container"
        class="login-register"
        data-initial-mode="${initial_mode}"
        data-third-party-auth='${third_party_auth|h}'
        data-third-party-auth-hint='${third_party_auth_hint}'
        data-next-url='${login_redirect_url|h}'
        data-platform-name='${platform_name}'
        data-login-form-desc='${login_form_desc|h}'
        data-registration-form-desc='${registration_form_desc|h}'
        data-password-reset-form-desc='${password_reset_form_desc|h}'
    />

    <input type="button" value="agreement" onclick="ipinCheck()"/>

</div>


<script type="text/javascript">
    $(function(){
        $("#register-country option:eq(1)").attr("selected", "selected");
    });
</script>


% if settings.FEATURES.get('ENABLE_COMBINED_LOGIN_REGISTRATION'):
    ## This overwrites the "footer" block declared in main.html
    ## with an empty block, effectively hiding the footer
    ## from logistration pages.
    <%block name="footer"/>
% endif
