<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">
    %if initial_mode == 'login':
        로그인
    %else:
        회원가입
    %endif
</%block>

<%block name="js_extra">
    <script>
        function member_division(gubn){
            /*division 'Y' is over 14, 'N' is under 14*/
            $("#division").val(gubn);
            $("#form").submit();
        }
    </script>
</%block>

<%block name="header_extras"></%block>

<form id="form" name="form" method="post" action="/agree">
<input type="hidden" id="division" name="division" />
<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}" />
    <div class="section-bkg-wrapper">
        <input type="button" value="만 14세 이상" onclick="member_division('Y');"/>
        <input type="button" value="만 14세 미만" onclick="member_division('N');"/>
    </div>
</form>

<br/><br/><br/><br/><br/>
