<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
from datetime import datetime
from django.utils.timezone import UTC as UTC2
%>
<%page args="course" />

%if not course.has_ended():
    <article class="course" id="${course.id | h}" role="region" aria-label="${get_course_about_section(course, 'title')}">
%else:
    <article class="course" id="${course.id | h}" role="region" aria-label="${get_course_about_section(course, 'title')}" style="opacity: 0.5;">
%endif

  <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" title="${get_course_about_section(course, 'title')} 자세히 알아보기">
    <label style="display:none;">${get_course_about_section(course, 'university')} ${get_course_about_section(course, 'title')}</label>
    <header class="course-image">
      <div class="cover-image">
        <img src="${course_image_url(course)}" alt="${get_course_about_section(course, 'title')} ${course.display_number_with_default}" />
        <div class="learn-more" aria-hidden=true>${_("LEARN MORE")}</div>
      </div>
    </header>
    <section class="course-info" aria-hidden=true>
      <h2 class="course-name">
        %if LANG == 'en':
            <span class="course-organization">${course.display_org_with_default}</span>
        %else:
            <span class="course-organization">${get_course_about_section(course, 'university')}</span>
        %endif
        <span class="course-code">${course.display_number_with_default}</span>
        <span class="course-title">${get_course_about_section(course, 'title')}</span>
      </h2>
        <div class="course-date" aria-hidden="true">
            <b>
        %if course.enrollment_start is not None and course.start is not None and course.enrollment_start <= datetime.now(UTC2()) and (course.enrollment_end is None or datetime.now(UTC2()) <= course.enrollment_end) and datetime.now(UTC2()) <= course.start:
            ${_("Starting Soon")}
        %elif course.enrollment_start is not None and course.start is not None and course.end is not None and course.enrollment_start <= datetime.now(UTC2()) and (course.enrollment_end is None or datetime.now(UTC2()) <= course.enrollment_end) and course.start <= datetime.now(UTC2()) <= course.end:
            ${_("Current (Now enrolling)")}
        %elif course.start is not None and course.end is not None and course.enrollment_end is not None and course.enrollment_end < datetime.now(UTC2()) and course.start <= datetime.now(UTC2()) <= course.end:
            ${_("Current")}
        %elif course.has_ended() and (course.enrollment_end is None or datetime.now(UTC2()) <= course.enrollment_end):
            ${_("Archived (Now enrolling)")}
        %else:
            &nbsp;
        %endif
            </b>
        </div>
      <div class="course-date" aria-hidden="true">${_("Starts")}: ${_("Self-Paced") if course.start_datetime_text() == u'자율 진도' and LANG == 'en' else course.start_datetime_text()}</div>
    </section>
    <div class="sr">
      <ul>
      <li>${get_course_about_section(course, 'university')}</li>
      <li>${course.display_number_with_default}</li>
      <li>${_("Starts")}: <time itemprop="startDate" datetime="${course.start_datetime_text()}">${_("Self-Paced") if course.start_datetime_text() == '자율 진도' else course.start_datetime_text()}</time></li>
    </ul>
    </div>
  </a>
</article>
