## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" class="grid-container"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >
    <div class="wrapper-logo" >
                    <p>
                        <a href="/">
                            <img alt="organization logo" src="./static/images/logo2.png">
                        </a>
                    </p>
               </div>
            <div class="colophon">
                <nav class="nav-colophon" aria-label="About">
                    <ol>
                        <li class="nav-colophon-01">
                            <a id="about" href="/agreement">이용약관</a>
                        </li>
                        <li class="nav-colophon-02">
                            <a id="blog" href="/privacy">개인정보처리방침</a>
                        </li>
                        <li class="nav-colophon-03">
                            <a id="blog" href="/email_security">이메일무단수집거부</a>
                        </li>
                        <li class="nav-colophon-04">
                            <a id="" href="/comm_faq">자주하는 질문</a>
                        </li>

                    </ol>
                </nav>
                <p class="copyright">34134 대전광역시 유성구 대학로 99 충남대학교 | T.042-821-5114 I<br />Copyright (C) 2015 CNU All Rights Reserved.</p>
            </div>
  </footer>
</div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
