<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
%>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  ## To display a welcome video, change False to True, and add a YouTube ID (11 chars, eg "123456789xX") in the following line
  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', False)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "your-youtube-id")

  show_partners = microsite.get_value('show_partners', True)

%>

<script>
    $(document).ready(function(){

        //layer popup..
        showNotice();

    	$("body").prepend("<div id='mask' style='position: absolute; left: 0; top: 0; z-index: 10000; display: none; opacity: 0.4; background:#363636;'></div>");

        var videoHtml = "";
        videoHtml += "  <video id='indexVideo' width='640' height='360' poster='' controls='controls' style='position: absolute; z-index:10001;top: 200px; display:none; left: calc(50% - 320px);'>";
        videoHtml += "      <source src='http://vod.kmoocs.kr/vod/2015/09/30/6098c795-39a8-5ec5-9683-49f12ba48dfd.mp4' type='video/mp4' />";
        videoHtml += "  </video>";

        $("body").prepend(videoHtml);

        $("#mask").click(function(){
            $("#indexVideo").hide();
            $("#indexVideo").currentTime = 0;
            $("#mask").fadeOut(200);
            var video = document.getElementById("indexVideo");
            video.pause();
        });

        videoResize();

        //position control
        $(window).resize(function(){
            ##모바일환경에서 동영상 크기 조절
            videoResize();

            var maskHeight = $(document).height();
            var maskWidth = $(window).width();
            $("#mask").css({"width":maskWidth,"height":maskHeight});
        });

    });

    function showNotice(){

        var d = new Date();
        if((d.getDay() == 2 || d.getDay() == 5) && d.getHours() == 8 && ( d.getMinutes() >= 0 && d.getMinutes() <= 30)){

            setTimeout(showNotice, 10000);

            if($("#noticeLayer").length)
                return;

            //notice string
            var str = "금일 AM08:00 ~ AM08:30중 업데이트가 진행예정입니다.<br/> 일시적으로 화면이 틀어지거나 로그인이 안될 수 있습니다. <br/> 양해 부탁 드립니다. 감사합니다.";
            var noticeHtml = "<div id='noticeLayer' " +
                    "style='position: absolute; " +
                    "       left: 25px; " +
                    "       top: 20px; " +
                    "       z-index: 10010; " +
                    "       display: block; " +
                    "       border:2px solid #b2b2b2; " +
                    "       opacity: 1; " +
                    "       background:#f2f2f2;" +
                    "       font-size: 30px;" +
                    "       line-height: 55px;" +
                    "       padding:50px;'>" +
                    "       <b>"+str+"</b>" +
                    "       <div style='width:100%; text-align:right;font-size:22px;'>" +
                    "       <a href='javascript:noticeLayerHide();'>[ 닫기 ]</a>" +
                    "       </div>" +
                    "</div>" ;
            $("body").prepend(noticeHtml);

            $("#noticeLayer").dblclick(function(){
                $(this).hide();
            });

        } else {
            $("#noticeLayer").remove();
        }

    }

    function noticeLayerHide(){
        $("#noticeLayer").hide();
    }


    function playVideo(){
        var video = document.getElementById("indexVideo");
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();

        video.currentTime = 0;
        $("#mask").css({"width":maskWidth+"px","height":maskHeight+"px", "text-align":"center", "vertical-align":"middle"});
        $("#innerMask").css({"width":(maskWidth/2)+"px","height":(maskHeight/2)+"px", "margin":(maskHeight/3)+"px", "display":"inline-block"});
        $("#mask").fadeIn(200);
        $("#indexVideo").fadeIn(300, function(){
            video.play();
        });
    }

    function videoResize(){
        if($(window).width() < 640){
            $("#indexVideo").prop("width", $(window).width() - 6).css("left", "3px");
        }else{
            $("#indexVideo").prop("width", "640").css("left", "calc(50% - 320px)");
        }
    }
</script>

<section class="home" style="background: #fff !important;">
  <header></header>

  <section class="courses-container" id="course_section">
    <section class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
##             <p class="title_type1">
##                 <img src="/static/images/title02.png" alt="전체강좌">
##                 <a href="/courses"><img src="/static/images/more.png" alt="더보기"></a>
##             </p>
            <ul class="courses-listing">
            ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses

            %for course in courses[:settings.HOMEPAGE_COURSE_MAX]:
              <li class="courses-listing-item">
                <%include file="course.html" args="course=course" />
              </li>
            %endfor
            </ul>
        </section>
        ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
        % if settings.HOMEPAGE_COURSE_MAX and len(courses) > settings.HOMEPAGE_COURSE_MAX:
          <div class="courses-more">
            <a class="courses-more-cta" href="${marketing_link('COURSES')}" > ${_("View all Courses")} </a>
          </div>
        % endif
      % endif

    </section>
  </section>
</section>

<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
##     <%
##       youtube_video_id = homepage_promo_video_youtube_id
##       if self.stanford_theme_enabled():
##         youtube_video_id = "2gmreZObCY4"
##     %>
##     <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
